page-insere-atividade {

    .back{
        background-color: #20B2AA;
    }

    .back_list {
        background-color: #20B2AA;
        
    }
  #lab{
      color: rgb(255, 255, 255)
  }
  #but{
    background-color: #008B8B;
    font-size: 15px;
    height: 35px;
    
  }

  .config_menu{

    background-color: rgb(19, 153, 108)
  }
}
