page-fases {


    .config_row{

        border-bottom:solid 1px rgb(216, 209, 209);
        margin-left: -20px;
        margin-right: -20px;
    }

    #config_titulo_fase{
        color: #50b748;
        margin: 0;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 13px;
         font-style: normal; 
         font-variant: normal;
         padding-bottom: 3px;

         
        
    }

    .config_texto_fase{
        color: #878787;
        margin: 0;
        padding: 0;
        font-family: "Lora";
        font-size: 12px;
         font-style: normal; 
         font-variant: normal;
         padding-left: 2px;

    }

    .config_coluna_esquerda{
        padding-left: 25px;
        padding-bottom: 15px;
      
       
    }

    .config_icon{
        font-size: 25px;
        color:#50b748;
        margin-top: 10px;
    }

    .config_icon_more{
        font-size: 25px;
        color:#878787;
        
        
        
    }

    .config_grid{

        margin-top: -12px;
    }
}
