page-matricula {


    

    .config_col_dados{

        border: solid 1px rgb(216, 209, 209);
        text-align: center;
       
      
      

    }

    .config_coluna_esquerda{
        padding-left: 15px;
        padding-bottom: 25px;
            
    }

    .config_coluna_direita{
        padding-right: 15px;
    }
    .config_data_matricula{
        color:#878787;
        text-align: center;
        border-bottom: solid 1px rgb(216, 209, 209);
    }
    #config_data_matricula_texto{
        
        margin: 0;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 17px;
         font-style: normal; 
         font-variant: normal;
         margin-bottom: 10px;
    }
    .config_grid{

        margin-top:15px;
    }
   
    .config_quantidade{
        color:#878787;
        margin-bottom: 0;
        margin-top: -5px;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 12px;
         font-style: normal; 
         font-variant: normal;

    }

    .config_quantidade_n{
        color:#878787;
        margin-bottom: 0;
        margin-top: 1px;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 12px;
         font-style: normal; 
         font-variant: normal;
    }
    .config_row{

       
        margin-left: -25px;
        margin-right: -25px;
    }

    .config_row_lista{

        border-bottom:solid 1px rgb(216, 209, 209);
        margin-left: -20px;
        margin-right: -20px;
        
    }

    .config_row_matricula{

       
        margin-left: -25px;
        margin-right: -25px;
    }

    .config_row_titulo{
        margin-top: -20px;
        margin-bottom: -5px;
    }

    .config_servicos{
        color:#878787;
        text-align: center;
        border-bottom: solid 1px rgb(216, 209, 209);
        background: rgb(233, 228, 228);
    }
    .config_tipo_contrato{

        color:#50b748;
        text-align: center;
    }
   

  

    

    
    #config_texto_maior{
        color:#878787;
        margin: 0;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 30px;
         font-style: normal; 
         font-variant: normal;
         margin-bottom: 10px;
         
    }
    #config_texto_menor{
        color:#50b748;
        margin-top: 10px;
        margin-bottom: 0;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 12px;
         font-style: normal; 
         font-variant: normal;
        
    }

    .config_tipo_servico{
        color:#50b748;
        margin-top: -15px;
        margin-bottom: 0;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 12px;
         font-style: normal; 
         font-variant: normal;
       
    }          

   
    .config_texto_servicos{
      
        font-family: "Open Sans Extrabold";
        font-size: 17px;
         font-style: normal; 
         font-variant: normal;
         margin-bottom: 10px;
         margin-top: 10px;

    }

    .config_texto_fase{
        color:#878787;
        margin: 0;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 12px;
         font-style: normal; 
         font-variant: normal;
         
    }
    .config_texto_fase2{
        color:#878787;
        margin-top: 0;
        padding: 0;
        font-family: "Open Sans Extrabold";
        font-size: 12px;
         font-style: normal; 
         font-variant: normal;
         margin-bottom: -13px;
         
    }
}
