page-home {


    .config_back{
        background-color: #A41313;
    }

    .config_img{

        display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .config_botao{
        color:#FFFACD;
        font-weight: bold;
    }
}
