page-listar-atividade {
    .plantao{

        background-color: #0000CD;
        
        
       }
       .outroFazParaMim{
        background-color:#D2691E
       }
       .color_texto{
           color: rgb(255, 255, 255);
           font-size: 15px;
       }
    
       .back{
        background-color: #20B2AA;
    }
    .vouFazerOutro{
    
        background-color: #808000;
    }
    
    .config_icon_1{
    
        color: #0000CD;
       
    }
    .config_icon_2{
    
        color: #808000;
        
    }
    
    .config_icon_3{
    
        color: #D2691E;
       
    }
    .divConfig{
        background-color: rgb(104, 217, 219);
       
        
        
        
    }
}
