page-sobre-autoescola {

    .conf_espaco{

        padding-top: 15px;
    }

    .config_icon{

        color: #50b748;       
        zoom: 1.7;
        
    }
    

   .config_titulo{
        color:#50b748;
        padding-left: 5px;
        padding-top: 2px;
        font-size: 17px;
    }

    .config_informacao{

        color:#878787;
        padding-left: 7px;
        font-size: 13px;
    }
}
