page-dados-pessoais {

    .back{
        background-color: #20B2AA;
    }

    .back_list {
        background-color: #20B2AA;
        
        
    }
    #lab{
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    #lab2{
        color: rgb(90, 99, 12);
        text-transform: capitalize;
        font-size: 20px;
    }
   
}
