<ion-header>

    <ion-navbar color="custom">
        <button ion-button menuToggle>
            <ion-icon name="menu"> </ion-icon>
        </button>
      <ion-title>Serviços</ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content padding class="config_back">

  <ion-list >
    
    <ion-card *ngFor="let item of viaturas" (click)="itemSelected(item)">
      <ion-card-header style="background-color: black;color:#FFFACD;font-weight: bold;font-size: 18px;">
        Patrimonio: {{ item.patrimonio }}
      </ion-card-header>
      <ion-card-content style="background-color: #708090;color:#FFFACD;font-weight: bold;" >
        
            <ion-item style="background-color: #708090;color:#FFFACD;font-weight: bold;font-size: 17px;">Placa: {{ item.placa }}</ion-item>
            <ion-item style="background-color: #708090;color:#FFFACD;font-weight: bold;font-size: 16px;">KM: {{item.kilometragem}}</ion-item>
            <ion-item style="background-color: #708090;color:#FFFACD;font-weight: bold;font-size: 16px;">Modelo: {{item.modelo}}</ion-item>
            <ion-item style="background-color: #708090;color:#FFFACD;font-weight: bold;font-size: 16px;" *ngIf="item.ultimaRevisaoTexto!='Invalid Date' && item.ultimaRevisaoTexto!=null ">Ultima Revisao: {{item.ultimaRevisaoTexto}}</ion-item>
            <ion-item style="background-color: #708090;color:#FFFACD;font-weight: bold;font-size: 16px;" *ngIf="item.proximaRevisaoTexto!='Invalid Date' && item.proximaRevisaoTexto!=null ">Proxima Revisao: {{item.proximaRevisaoTexto}}</ion-item>
            <ion-item style="background-color: #708090;color:#FFFACD;font-weight: bold;font-size: 16px;">Proxima Revisao Km: {{item.proximaRevisaoKm}}</ion-item>
            <ion-item style="background-color: #708090;color:#FFFACD;font-weight: bold;font-size: 16px;" *ngIf="item.ultimaTrocaPneusTexto!='Invalid Date' && item.ultimaTrocaPneusTexto!=null " >Troca/pneus: {{item.ultimaTrocaPneusTexto}}</ion-item>
            <ion-item style="background-color: #708090;color:#FFFACD;font-weight: bold;font-size: 16px;"*ngIf="item.ultimaTrocaPneusTexto!='Invalid Date' && item.ultimaTrocaPneusTexto!=null ">Proxima/pneus: {{item.proximaTrocaPneusTexto}}</ion-item>
            
    
          
        
     

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
