page-menu {

    .config_row{

        height: 90px;
    }
    .config_botao{
        font-size: 18px;
        background-color: #008B8B;
    }

    .back{
        background-color: #20B2AA;
    }
     
}
