page-home {


  /*  .masters {
    background: linear-gradient(to top ,#92cd52,#64ce54da,#56bb96);
    }*/

    .masters{
     // background: #92cd52;
      // background: linear-gradient(to bottom,#64ce54,#92cd52, #56bb96)
       //background: linear-gradient(255deg, #92cd52, #64ce54,#56bb96);
       //background: linear-gradient(255deg,#64ce54,#92cd52, #56bb96);
//background-image: linear-gradient(to bottom, #92cd52 , #64ce54,#56bb96 );
background-image: linear-gradient(4.5rad, #92cd52 , #64ce54,#56bb96 );

    }

    .imagem{

        
        width: 210px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
       display: block;
             
        
       
    }
    .email-input{

        background: transparent;
        border-bottom: element;
        
       
        
    }

    .senha-input{

        background: transparent;
        border-bottom:  element;
       
        
    }

    #textos-input{
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

  

    .imagem{
        margin-top: 20px;
        padding: auto;
    }

    .btn{
        
        width: 320px;
        height: 50px;
        font-family: "Arial Black", Gadget, sans-serif;  
        font-size: 15px;
        font-weight: white bold;//negrito
        border-radius: 10px;//borda do botao
        border:1px solid #ddffff;        
        background-color:transparent;
        margin-top: 25px; 
        margin-right: 25px;
        margin-bottom: 25px;
        max-width: 100%;
        max-height: 100%;
        
           
       // background-color: rgb(172, 255, 62);
       //background-color:rgb(16, 255, 28);
             
   
        
    }
    .esqSenha{
color:white;
    }

    ion-input{
        color:white;
        font-weight: bolder;
        
    }

    element { 
        border-bottom: thin;
        border-bottom-style: solid;
        border-bottom-color: #000;
    }

    .mensagemEmail{

        color: white;        
        padding: 5px;
        float: right;
    }

    .icone-eye{
            
            background-color:transparent;
            color:rgb(136, 127, 127);
            top: 20px;
    }

    .error{
      color: #ff0000;
      font-size: 12px;

    }

    

    .menu_config{
        color: white
    }
    
  /*  .toolbar-background {
        background-color:#64ce54da;
        font-weight: white bold;//negrito
    }*/
    
    
    .titulo_config{
        color:white
    }

 

}
