page-in-plantao {

    .back{
        background-color: antiquewhite;
    }

    .back_list {
        background-color: antiquewhite;
        
    }
  #lab{
      color: rgb(115, 124, 37)
  }
  #but{
    background-color: rgb(145, 100, 42);
    font-size: 15px;
    height: 35px;
    
  }

  .config_menu{

    background-color: rgb(19, 153, 108)
  }
  
}
