page-financeiro {


    .background_segmant{
        background-color: #EAEAEA;
    }

   
 

   

   

    .card_config{
        font-family: "Lora";
        font-size: 20px;
         font-style: normal; 
         font-variant: normal;
          font-weight: 400; 
          line-height: 26.4px;
          margin-top: 15px; 
          margin-right: 15px;
          margin-bottom: 15px;
          max-width: 100%;
          max-height: 100%;
          height: 80px;
        
    }
  
    .estilo_botao{
        font-family: "Lora";
        font-size: 15px;
         font-style: normal; 
         font-variant: normal;
          font-weight: 400; 
          line-height: 26.4px;
          max-width: 100%;
          max-height: 100%;
          text-transform: capitalize;
          border-radius: 7px;          
          width: 120px;
          height: 30px;
        //  background-color:rgb(14, 11, 214);
      }
      ion-grid{

        border-bottom: 0.5px solid #dddcdc;
        margin-top: 10px;
       
      }
    .menu_config{
        color: white
    }

    .posicaotexto{
        padding-top:5px;
        padding-bottom: 5px;
        color:#878787;       
        font-family: "Lora";
        font-size: 15px;
         font-style: normal; 
         font-variant: normal;
          font-weight: 400; 
          line-height: 26.4px;
          max-width: 100%;
          max-height: 100%;
          padding-left: 5px;
       
    }
   

    
     
     


    

    .posicaoBotao{

      padding-top: 5px;
    padding-bottom: 5px;
     
       
        
               
      }
    .titulo_config{       
        font-family: "Open Sans Extrabold";
         font-size: 24px;
          font-style: normal; 
          font-variant: normal;
           font-weight: 700; 
           line-height: 26.4px;
           padding-left: 10px;
           max-width: 100%;
           max-height: 100%;
    }

  

    .config_icon{
        color: #50b748;
        font-size: 25px;
        margin-top: 30px;
        padding-left: 15px;
                    
    }

    .config_icon2{
        color: #d22114;
        font-size: 25px;
        margin-top: 30px;
        padding-left: 15px;
                    
    }
   
    .config_icon3{
        color:#ffa500;
        font-size: 25px;
        margin-top: 30px;
        padding-left: 15px;
                    
    }

    .config_icon_menor{
        color: #50b748;
        font-size: 15px;
        float: left;
        padding-bottom: 7px;
        padding-left: 5px;
    
        
                    
    }
    .config_icon_menor2{
        color: #d22114;
        font-size: 15px;
        float: left;
        padding-bottom: 7px;
        padding-left: 5px;
                    
    }
    .config_icon_menor3{
        color:#ffa500;
        font-size: 15px;
        float: left;
        padding-bottom: 7px;
        padding-left: 5px;
    }





.config_info{
    padding-left: 30px;
    font-family: "Lora Regular";
}
     
.config_header_list{
   background-color: #EAEAEA;
   color:rgb(43, 141, 38);
   border-bottom: 1px solid #c9c5c5;
   padding-top: 5px;
   padding-bottom: -3px;
   font-family: "Open Sans Extrabold";
   font-size: 15px;
  
   

}
    
 
    
    .config_val{

      margin-top: -10px;
      padding-top: 4px;
      //padding-bottom: -10px;
      margin-bottom: -10px;
      
      
     
    }
.config_text_ina{
    font-family: "Open Sans Bold";
    font-size: 10px;
    padding-top: 23px;
    
}
    .config_val_Inad{

        margin-top: -7px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-family: "Open Sans Bold";
        font-size: 15px;
        text-align: center;
        
       
      }
    .config_tipopagamento1{

        margin-bottom:0;
        color:#50b748;
    }
    .config_tipopagamento2{

        margin-bottom:0;
        color:#d22114;
    }

    .config_tipopagamento3{

        margin-bottom:0;
        color:#ffa500;
    }

.config_inadimplencia{
    
   // border: 1px solid #50b748;    
    color:white;
   // background-color: #50b748;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 18px;
    border: 1px solid #d22114;  
    background-color: #d22114;
    
    
}

.config_adimplencia{
    
    // border: 1px solid #50b748;    
     color:white;
    // background-color: #50b748;
     border-radius: 5px;
     text-align: center;
     margin-bottom: 35px;
     margin-top: 18px;
     border: 1px solid #50b748;  
     background-color: #50b748;
     
     
 }

 .config_adimplente_apagar{
    
    // border: 1px solid #50b748;    
     color:white;
    // background-color: #50b748;
     border-radius: 5px;
     text-align: center;
     margin-bottom: 35px;
     margin-top: 18px;
     border: 1px solid #ffa500;  
     background-color: #ffa500;
     
     
 }

.config_icon_grande_esquerda{
    font-size:40px;
    padding-top: 28px;
}

    ion-row{
        margin-top:-20px;
    }


}
